extends ../layout

block content
  script(src='/javascripts/app/controllers/gameController.js')
  script(src='/javascripts/app/controllers/socketController.js')
  input#game(type='hidden', value='ready')
  p Run for your life bitch!!! 
