extends ../layout

block content
  script(src='/javascripts/app/controllers/socketController.js')
  script(src='/javascripts/app/controllers/gameController.js')
  script(src='/javascripts/app/controllers/playerController.js')

  script(src='/javascripts/app/components/element.js')
  script(src='/javascripts/app/components/actor.js')
  script(src='/javascripts/app/components/player.js')
  script(src='/javascripts/app/components/zombie.js')

  script(src='/javascripts/app/entities/obstacle.js')
  script(src='/javascripts/app/entities/free.js')
  script(src='/javascripts/app/entities/next.js')
  script(src='/javascripts/app/entities/player.js')

  input#game(type='hidden', value='ready')
  p Run for your life bitch!!! 
