extends ../layout
block content
  script(src='/javascripts/app/controllers/loginController.js')
  form(id="loginForm")
    label Username:
    input(type="text", id="username")
    span
      input(type="radio", name="player", value="player1") 
      label Player1
    span
      input(type="radio", name="player", value="player2") 
      label Player2
    span
      input(type="radio", name="player", value="player3")
      label Player3
    input(type="submit", value="login")
